openapi: 3.0.1
info:
  title: RUTPAM API
  version: 0.2.0
  description: >
    This API defines the methods and objects that provide and receive data from/to the server.
    The design extends the GTFS specification to a more abstract and complete knowledge base about the stored public transit networks.
  contact:
    name: Néstor Lora
    email: nestorlora@geeklab.es
  license:
    name: MIT
servers:
  - url: 'http://rutpam.titan.geeklab.es:5000'
    description: Development local HTTP Server
paths:
  /info:
    summary: Server information
    get:
      summary: Getting the server status
      description: Returns server information
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  version:
                    type: string
                    description: Server version
                    example: 1.0.0
                  contact:
                    type: string
                    description: Email contact
                    example: webmaster@localhost
                  web:
                    type: string
                    description: Project website
                    example: 'http://localhost/RUTPAM'
                  maintenance:
                    type: boolean
                    description: Show if the server may contain inaccurate information due to maintenance works
                    example: false
      tags:
        - Information
  /pickup_dropoff_types:
    summary: Defined pick-up and drop-off operations in stops
    get:
      summary: Get types
      description: Returns the complete table or single element
      parameters:
        - in: query
          name: id
          description: Type ID
          required: false
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PickupDropoffType'
      tags:
        - DB
    post:
      summary: Get types
      description: Returns the complete table or single element
      security:
        - Agent: []
        - Admin: []
      parameters:
        - in: query
          name: id
          description: Type ID
          required: false
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PickupDropoffType'
        '401':
          $ref: '#/components/responses/401Unauthorized'
      tags:
        - DB
components:
  schemas:
    Station:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Station ID
          example: 134846
        eid:
          type: string
          description: External ID (defined by the provider)
          example: 41
        name:
          type: string
          description: Station name
          example: Málaga-María Zambrano
        address:
          type: string
          description: Station address (if it has one)
          example: Paseo del Parque 21
        location:
          $ref: '#/components/schemas/LatLong'
    AgencyInfo:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Relation ID
          example: 134846
        agency:
          type: integer
          format: int64
          description: Agency ID
          example: 134846
        type:
          type: integer
          format: int64
          description: Info type ID
          example: 134846
        information:
          type: string
          description: Actual piece of information
          example: reservas@malaga.avanzabus.es
        description:
          type: string
          description: Complement to the previous information
          example: Reservas
    Subroute:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Subroute ID
          example: 1654135
        route:
          type: integer
          format: int64
          description: Parent route ID
          example: 134846
        eid:
          type: string
          description: External ID (defined by the provider)
          example: '41.5'
        type:
          type: integer
          format: int64
          description: Subroute type ID (Going route/Return route/Circular route/Positioning move)
          example: 1
        headsign:
          type: string
          description: Headsign indication text
          example: El Palo
        description:
          type: string
          description: Subroute description
          example: Ida. Itinerario 1
        startDate:
          $ref: '#/components/schemas/startDate'
        endDate:
          $ref: '#/components/schemas/endDate'
    Route:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Route ID
          example: 134846
        network:
          type: integer
          format: int32
          description: Network ID
          example: 2
        eid:
          type: string
          description: External ID (defined by the provider)
          example: 41
        shortName:
          type: string
          description: >
            Short name of a route. This will often be a short, abstract identifier like "32", "100X", or "Green" that riders use to identify a route, but which doesn't give any indication of what places the route serves.
          example: N1
        longName:
          type: string
          description: >
            Full name of a route. This name is generally more descriptive than the shortName and often includes the route's destination or stop.
          example: Puerta Blanca - Alameda Principal - El Palo
        description:
          type: string
          description: >
            Description of a route that provides useful, quality information.
            Do not simply duplicate the name of the route.
          example: >
            "A" trains operate between Inwood-207 St, Manhattan and Far Rockaway-Mott Avenue, Queens at all times. Also from about 6AM until about midnight, additional "A" trains operate between Inwood-207 St and Lefferts Boulevard (trains typically alternate between Lefferts Blvd and Far Rockaway).
        observations:
          type: string
          description: Aditional comments, informal data.
          example: Traslado de paradas por obras en Alameda Ppal
        startDate:
          $ref: '#/components/schemas/startDate'
        endDate:
          $ref: '#/components/schemas/endDate'
        color:
          type: string
          description: Route color designation that matches public facing material
          example: 00FF00
        textColor:
          type: string
          description: Legible color to use for text drawn against a background of the previous color
          example: FFFFFF
        url:
          type: string
          description: URL of a web page about the particular route.
          example: 'https://emtmalaga.es/linea/65'
        type:
          type: integer
          format: int32
          description: >
            Indicates the type of transportation used on a route [Google
            Dev](https://developers.google.com/transit/gtfs/reference/extended-route-types?hl=es)
          example: 7200
    Town:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Town ID
          example: 134846
        name:
          type: string
          description: Town name
          example: Álora
    TownArea:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Town area ID
          example: 134846
        name:
          type: string
          description: Area name
          example: Airport
        town:
          type: integer
          format: int64
          description: Parent Town ID
          example: 134846
    Agency:
      type: object
      properties:
        id:
          type: integer
          format: int32
          description: Agency ID
          example: 5
        name:
          type: string
          description: Agency name
          example: 'Avanza Movilidad Urbana, S.L.U'
    RouteAgencies:
      type: object
      properties:
        id:
          type: integer
          format: int32
          description: Relation ID
          example: 5
        route:
          type: integer
          format: int64
          description: Route ID
          example: 134846
        agency:
          type: integer
          format: int32
          description: Agency ID
          example: 5
        role:
          type: integer
          format: int32
          description: Agency role ID
          example: 5
        startDate:
          $ref: '#/components/schemas/startDate'
        endDate:
          $ref: '#/components/schemas/endDate'
    Stop:
      type: object
      properties:
        id:
          type: integer
          format: int32
          description: Stop ID
          example: 5423
        eid:
          type: string
          description: External ID (defined by the provider)
          example: 41
        name:
          type: string
          description: Stop name. Usually describes the location around the stop.
          example: Alameda Principal - Sur
        townArea:
          type: integer
          format: int32
          description: Town area ID
          example: 175
        station:
          type: integer
          format: int64
          description: Parent station ID (if exists)
          example: 134846
        platform:
          type: string
          description: >
            Platform identifier for a platform stop (a stop belonging to a station). 
            This should be just the platform identifier (eg. "G" or "3"). Words like “platform” 
            or "track" should not be included.
          example: 4B
        network:
          type: integer
          format: int64
          description: Network ID
          example: 7
        zone:
          type: integer
          format: int32
          description: Zone ID
          example: 3
        address:
          type: string
          description: Station address (if it has one)
          example: Paseo del Parque 21
        location:
          $ref: '#/components/schemas/LatLong'
        startDate:
          $ref: '#/components/schemas/startDate'
        endDate:
          $ref: '#/components/schemas/endDate'
    SubrouteStop:
      type: object
      properties:
        id:
          type: integer
          format: int32
          description: Relation ID
          example: 5654
        subroute:
          type: integer
          format: int64
          description: Subroute ID
          example: 1654135
        stop:
          type: integer
          format: int32
          description: Stop ID
          example: 5423
        pickupType:
          type: integer
          format: int32
          description: Pickup or Drop off type ID
          example: 56
        dropoffType:
          type: integer
          format: int32
          description: Pickup or Drop off type ID
          example: 56
        sequence:
          type: integer
          format: int32
          description: Sequence order of the stop in the subroute
          example: 14
    Point:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Point ID
          example: 3243541
        location:
          $ref: '#/components/schemas/LatLong'
    PathPoint:
      type: object
      properties:
        id:
          type: integer
          format: int32
          description: Relation ID
          example: 56
        path:
          type: integer
          format: int32
          description: Path ID
          example: 3243
        point:
          type: integer
          format: int64
          description: Point ID
          example: 3243541
        sequence:
          type: integer
          format: int32
          description: Sequence order of the point in the path
          example: 14
    POS:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Point of sale ID
          example: 3243541
        agency:
          type: integer
          format: int32
          description: Agency ID
          example: 5
        townArea:
          type: integer
          format: int64
          description: Town area ID
          example: 134846
        type:
          type: integer
          format: int32
          description: Pos type ID
          example: 56
        address:
          type: string
          description: Station address (if it has one)
          example: Paseo del Parque 21
        location:
          $ref: '#/components/schemas/LatLong'
    Network:
      type: object
      properties:
        id:
          type: integer
          format: int32
          description: Network ID
          example: 5
        shortName:
          type: string
          description: Contracted name or acronym used for the network
          example: "CTMAM"
        longName:
          type: string
          description: Extended or full-version name of the networkd
          example: "Consorcio de Transportes Metropolitanos del Área de Málaga"
    AgencyRole:
      type: object
      properties:
        id:
          type: integer
          format: int32
          description: Agency role ID
          example: 5
        role:
          type: string
          description: Name
          example: Planning
        description:
          type: string
          description: Description
          example: 'Timetables, detours, reinforcements, etc...'
    InfoType:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Info type ID
          example: 134846
        type:
          type: string
          description: Type name
          example: URL
    SubrouteType:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Subroute type ID
          example: 134846
        type:
          type: string
          description: Type name
          example: Positioning move
        description:
          type: string
          description: Type description
          example: Empty ride at the start or end of service for a vehicle. Typically from or to the depot.
    PosType:
      type: object
      properties:
        id:
          type: integer
          format: int32
          description: Point of sale type ID
          example: 56
        type:
          type: string
          description: Type name
          example: Kiosk
    PickupDropoffType:
      type: object
      properties:
        id:
          type: integer
          format: int32
          description: Pickup or Drop off type ID
          example: 56
        type:
          type: string
          description: Pickup or Drop off method
          example: Sheduled
        description:
          type: string
          description: Method explanation or example
          example: The vehicle performs a regularly sheduled stop
    TransferType:
      type: object
      properties:
        id:
          type: integer
          format: int32
          description: Transfer type ID
          example: 56
        type:
          type: string
          description: Type name
          example: Sheduled
        description:
          type: string
          description: Type description
          example: The vehicles wait for the tranfer passengers to depart
    RouteType:
      type: object
      properties:
        id:
          type: integer
          format: int32
          description: 
          example: 101
        description:
          type: string
          description: Type name
          example: High Speed Rail Service
        example:
          type: string
          description: Type explanation or example
          example: 'TGV (FR), ICE (DE), Eurostar (GB)'
      description: >-
        Legend in [Google
        Dev](https://developers.google.com/transit/gtfs/reference/extended-route-types?hl=es)
    Transfer:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Transfer ID
          example: 3234854
        stop1:
          type: integer
          format: int32
          description: Stop ID where tranfer begins
          example: 5423
        stop2:
          type: integer
          format: int32
          description: Stop ID where tranfer ends
          example: 5423
        type:
          type: integer
          format: int32
          description: Tranfer type ID
          example: 56
        minimunTime:
          type: integer
          format: int32
          description: Amount of time, in seconds, that must be available to permit a transfer between routes at the specified stops (if, needed)
    Path:
      type: object
      properties:
        id:
          type: integer
          format: int32
          description: Path ID
          example: 5423
        color:
          type: string
          description: Path color (RGB)
          example: '009639'
        transparency:
          type: number
          format: float
          description: Transparency of the path [0,1]
          example: 1
    Zone:
      type: object
      properties:
        id:
          type: integer
          format: int32
          description: Zone ID
          example: 5
        network:
          type: integer
          format: int32
          description: Network ID
          example: 5
        name:
          type: string
          description: Zone name
          example: A
    LatLong:
      type: object
      properties:
        lat:
          type: number
          format: float
          description: Latitude
          example: 36.6916079
        lon:
          type: number
          format: float
          description: Longitude
          example: -4.4561347
      required:
        - lat
        - lon
    startDate:
      type: string
      format: date-time
      description: >
        Moment when this object start his validity (within those parameters)
        The database may contain other versions (within other ID)
      example: '2019-08-19'
    endDate:
      type: string
      format: date-time
      description: >
        Moment when this object ends his validity (within those parameters)
        The database may contain other versions (within other ID)
      example: '2019-08-19'
    ApiResponse:
      type: object
      properties:
        code:
          type: number
          format: int32
          example: 404
        status:
          type: string
          example: 'User not found'
  securitySchemes:
    User:
      type: apiKey
      in: query
      name: userKey
    Agent:
      type: apiKey
      in: query
      name: agentKey
    Admin:
      type: apiKey
      in: query
      name: opKey
  responses:
    401Unauthorized:
      description: Unauthorized (Token key is not provided, is invalid, or is expired)
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiResponse'
tags:
  - name: Informacion
    description: Información general de la instancia
  - name: DB
    description: Operaciones básicas sobre la BBDD
